<div class="bg-white h-[50px] justify-end w-screen flex font-medium border-[1px] border-gray-500 text-green-700">
    <ul class="flex gap-10 justify-center items-center mr-10">
    <button class="nav-btn"   cursor="pointer"><li class="flex items-center justify-center" >Contact</li></button>
    <button class="nav-btn"  cursor="pointer"> <li class="flex items-center justify-center" >Explore</li></button>
    <button class="nav-btn"  cursor="pointer"> <li class="flex items-center justify-center"  ><mat-icon>settings</mat-icon></li></button>
    <button class="nav-btn"  cursor="pointer"> <li class="flex items-center justify-center" >img</li></button>
</ul> 
</div>
