<div class="px-6 pb-6 lg:px-10 lg:pb-10 bg-gray-50 min-h-screen">
  
  <div class="flex h-[60px] w-full pt-1 my-[10px]  border-t-2 border-b-2 mb-6">
    <img class="w-[50px] h-[50px]" src="formIcon.png" alt="form" />
    <div class="flex flex-col ml-3">
      <p class="text-blue-900 font-medium">Add New Fields</p>
      <p class="text-gray-500 text-[12px]">
        Add Organization , Projects , Departments
      </p>
    </div>
  </div>

  <div class="mb-6">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <a 
          routerLink="department"
          routerLinkActive="border-blue-500 text-blue-600"
          [routerLinkActiveOptions]="{exact: true}"
          class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300
                 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
          Departments
        </a>

        <a 
          routerLink="project"
          routerLinkActive="border-blue-500 text-blue-600"
          class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300
                 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
          Projects
        </a>
        
        <a 
          routerLink="organization"
          routerLinkActive="border-blue-500 text-blue-600"
          class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300
                 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
          Organizations
        </a>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="hidden"></div>
  <div class="hidden"></div>
  
</div>