<div class="flex w-[90%] flex-col h-full">
  <div
    class="flex h-[60px] w-full mt-[1%] pt-1 my-[10px] mx-[50px] border-t-2 border-b-2"
  >
    <img class="w-[50px] h-[50px]" src="formIcon.png" alt="form" />
    <div class="flex flex-col ml-3">
      <p class="text-blue-900 font-medium">Employee Information</p>
      <p class="text-gray-500 text-[12px]">
        Enter all personal, job, payroll, and document details below
      </p>
    </div>
  </div>

  <form #userForm="ngForm" (ngSubmit)="addEmployee(userForm)" novalidate>
    <div
      class="flex flex-col h-[95%] w-full rounded-md shadow-lg border-gray-200 border-2 bg-gray-100 my-[10px] mx-[50px]"
    >
      <div class="flex flex-wrap ml-4 w-full">
        <div class="w-full flex flex-wrap md:w-1/2 ">
          <div
            class="w-full border-b-2 border-gray-300 p-2 bg-gray-50 mb-2"
          >
            <h2 class="text-blue-900 font-semibold text-base">
              Personal Information
            </h2>
            <p class="text-gray-500 text-[10px] ">
              Name, Date of Birth, and Contact Details
            </p>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="firstName"
              >First-Name <span class="text-red-600">*</span></label
            >
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.firstName"
              name="firstName"
              type="text"
              required
              minlength="3"
              maxlength="24"
              #firstName="ngModel"
              [class.invalid]="firstName.invalid && firstName.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="lastName">Last-Name</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.lastName"
              name="lastName"
              type="text"
              required
              minlength="3"
              maxlength="24"
              #lastName="ngModel"
              [class.invalid]="lastName.invalid && lastName.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="dob">Date-of-Birth</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.dob"
              name="dob"
              type="date"
              placeholder=" DD/MM/YYYY"
              required
              maxlength="16"
              #dob="ngModel"
              [class.invalid]="dob.invalid && dob.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="phoneno">Phone Number</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.phone_no"
              name="phoneno"
              required
              type="text"
              minlength="3"
              maxlength="24"
              #phoneNo="ngModel"
              [class.invalid]="phoneNo.invalid && phoneNo.touched"
            />
          </div>
          <div class="customerInputDiv">
            <label class="inputLabel" for="email">Email-Address</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.email"
              name="email"
              type="email"
              required
              minlength="8"
              maxlength="50"
              #email="ngModel"
              [class.invalid]="email.invalid && email.touched"
            />
          </div>
        </div>

        <div class="w-full flex flex-wrap md:w-1/2 p-4">
          <div
            class="w-full -mt-4 border-b-2 border-gray-300 p-2 bg-gray-50 mb-3"
          >
            <h2 class="text-blue-900 font-semibold text-base">
              Job Information
            </h2>
            <p class="text-gray-500 text-[10px] mb-1">
              Enter details related to position, department, and manager
            </p>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="employementType">Employement-Type</label>
            <select
              [disabled]="!isEditing"
              [ngClass]="{ view: !isEditing, input: isEditing }"
              name="typeOfEmployee"
              id="employementType"
              [(ngModel)]="info.employementType"
              required
              #employementType="ngModel"
              [class.invalid]="
                employementType.invalid && employementType.touched
              "
            >
              <option>Full-time</option>
              <option>Contract</option>
              <option>Intern</option>
            </select>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="position">Position</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.position"
              name="position"
              type="text"
              required
              minlength="2"
              maxlength="50"
              #position="ngModel"
              [class.invalid]="position.invalid && position.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="department">Department</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.department"
              name="department"
              type="text"
              required
              minlength="2"
              maxlength="50"
              #department="ngModel"
              [class.invalid]="department.invalid && department.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="manager">Manager</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.manager"
              name="manager"
              type="text"
              required
              minlength="3"
              maxlength="50"
              #manager="ngModel"
              [class.invalid]="manager.invalid && manager.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="joiningDate">Joining Date</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.joiningDate"
              name="joiningDate"
              type="date"
              required
              #joiningDate="ngModel"
              [class.invalid]="joiningDate.invalid && joiningDate.touched"
            />
          </div>
        </div>
      </div>

      <hr class="w-full border-gray-300" />

      <div class="flex flex-wrap w-full">
        <div class="w-full flex flex-wrap md:w-1/2 p-4">
          <div
            class="w-full -mt-4 border-b-2 border-gray-300 p-2 bg-gray-50 mb-3"
          >
            <h2 class="text-blue-900 font-semibold text-base">
              Payroll Information
            </h2>
            <p class="text-gray-500 text-[10px] mb-1">
              Salary and Bank Details for Direct Deposit
            </p>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="salary">Salary</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.salary"
              name="salary"
              type="number"
              required
              min="0"
              #salary="ngModel"
              [class.invalid]="salary.invalid && salary.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="accountHolderName"
              >Account Holder Name</label
            >
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.accountHolderName"
              name="accountHolderName"
              type="text"
              placeholder="e.g., Jane A. Doe"
              required
              minlength="5"
              maxlength="50"
              #accountHolderName="ngModel"
              [class.invalid]="
                accountHolderName.invalid && accountHolderName.touched
              "
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="accountNumber">Account Number</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.accountNumber"
              name="accountNumber"
              type="text"
              placeholder="Enter your full account number"
              required
              minlength="8"
              maxlength="20"
              #accountNumber="ngModel"
              [class.invalid]="accountNumber.invalid && accountNumber.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="bankName">Bank Name</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.bankName"
              name="bankName"
              type="text"
              placeholder="e.g., State Bank of India"
              required
              minlength="3"
              maxlength="50"
              #bankName="ngModel"
              [class.invalid]="bankName.invalid && bankName.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="ifscCode">IFSC Code</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.ifscCode"
              name="ifscCode"
              type="text"
              placeholder="e.g., SBIN0001234"
              required
              minlength="11"
              maxlength="11"
              #ifscCode="ngModel"
              [class.invalid]="ifscCode.invalid && ifscCode.touched"
            />
          </div>
        </div>

        <div class="w-full flex flex-wrap md:w-1/2 p-4">
          <div
            class="w-full ml-4 -mt-4 border-b-2 border-gray-300 p-2 bg-gray-50 mb-3"
          >
            <h2 class="text-blue-900 font-semibold text-base">
              Address Information
            </h2>
            <p class="text-gray-500 text-[10px] mb-1">
              Complete address details
            </p>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="country">Country</label>
            <select
              [disabled]="!isEditing"
              [ngClass]="{ view: !isEditing, input: isEditing }"
              name="countryCode"
              id="country"
              [(ngModel)]="info.countryCode"
              required
              #country="ngModel"
              [class.invalid]="country.invalid && country.touched"
              (ngModelChange)="selectedCountry($event)"
            >
              <option value="">-- Select country --</option>
              <option *ngFor="let country of countries" [value]="country.iso2">
                {{ country.name }}
              </option>
            </select>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="countryName">Country</label>
            <input
              id="countryName"
              name="countryName"
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="true"
              [value]="info.countryCode"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="state">State</label>
            <select
              [disabled]="!isEditing"
              [(ngModel)]="info.state"
              name="state"
              [ngClass]="{ view: !isEditing, input: isEditing }"
              #state="ngModel"
              [class.invalid]="state.invalid && state.touched"
              (ngModelChange)="selectedState($event)"
            >
              <option *ngFor="let state of states" [value]="state.iso2">
                {{ state.name }}
              </option>
            </select>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="city">City</label>
            <select
              [disabled]="!isEditing"
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [(ngModel)]="info.city"
              name="city"
              required
              minlength="3"
              maxlength="24"
              #city="ngModel"
              [class.invalid]="city.invalid && city.touched"
            >
              <option *ngFor="let city of cities" [value]="city.name">
                {{ city.name }}
              </option>
            </select>
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="street">Street-Name</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.street"
              name="street"
              type="text"
              required
              minlength="3"
              maxlength="24"
              #street="ngModel"
              [class.invalid]="street.invalid && street.touched"
            />
          </div>

          <div class="customerInputDiv">
            <label class="inputLabel" for="buildingNo">Building-No.</label>
            <input
              [ngClass]="{ view: !isEditing, input: isEditing }"
              [readOnly]="!isEditing"
              [(ngModel)]="info.buildingNo"
              name="buildingNo"
              type="text"
              required
              minlength="3"
              maxlength="24"
              #building="ngModel"
              [class.invalid]="building.invalid && building.touched"
            />
          </div>
        </div>
      </div>

      <hr class="w-full border-gray-300" />

      <div class="w-full ml-4 border-b-2 border-gray-300 p-2 bg-gray-50 mt-4">
        <h2 class="text-blue-900 font-semibold text-base">Documents</h2>
        <p class="text-gray-500 text-[10px] mb-1">
          Upload required employee documents (ID Proof and Offer Letter)
        </p>
      </div>

      <div class="flex p-4">
       <div class="customerInputDiv -mt-2">
        <label class="inputLabel" for="idProof">ID Proof</label>

        <input
            [readOnly]="!isEditing"
            [ngClass]="{
              'view w-[200px]': !isEditing,
              'input w-[200px]': isEditing
            }"
            type="file"
            name="idProof"
            (change)="onIdProofUpload($event)"
            [disabled]="!isEditing" *ngIf="isEditing || !info.idProof" />

        <a 
  *ngIf="!isEditing && info.idProof" 
    [href]= info.idProof
  target="_blank" 
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center w-[200px] inline-block"
>
  View Offer Letter
</a>
    </div>
          
        <div class="customerInputDiv -mt-2">
        <label class="inputLabel" for="offerLetter">Offer Letter</label>

        <input
            [readOnly]="!isEditing"
            [ngClass]="{
              'view w-[200px]': !isEditing,
              'input w-[200px]': isEditing
            }"
            type="file"
            name="offerLetter"
            (change)="onOfferLetterUpload($event)"
            [disabled]="!isEditing" *ngIf="isEditing || !info.offerLetter" />
        
        <a 
  *ngIf="!isEditing && info.offerLetter" 
  [href]= info.offerLetter
  target="_blank" 
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center w-[200px] inline-block"
>
  View Offer Letter
</a>
    </div>
        <div class="customerInputDiv flex flex-row gap-4 ">
          <button
            [disabled]="userForm.invalid"
            [class.blocked]="userForm.invalid"
            type="submit"
            class="hover-btn mb-2 bg-blue-950 text-white font-semibold  rounded-sm w-[100px] h-[40px]"
          >
            Save
          </button>
          <button
            (click)="toggleMode()"
            [class.blocked]="userForm.invalid"
            type="button"
            class="hover-btn mb-2 bg-blue-950 text-white font-semibold rounded-sm w-[100px] h-[40px]"
          >
            Edit
          </button>
          <button
            (click)="isEditing = false"
            [class.blocked]="userForm.invalid"
            type="button"
            class="hover-btn mb-2 bg-blue-950 text-white font-semibold rounded-sm w-[100px] h-[40px]"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
