<h1 class="text-blue-900 font-medium text-md mb-1 ml-8 underline">
 Add Items-
</h1>

<form class="mb-2">
  <div
    class="form-div flex ml-8 items-center justify-start bg-gray-200 h-10 rounded-sm w-[95%]"
  >
    <label>Name:</label>
    <input class [(ngModel)]="newItem.name" name="name" />

    <!-- <label>CustomerId:</label>
    <input [(ngModel)]="newCustomer.id" name="role" /> -->

    <label>ItemCode:</label>
    <input [(ngModel)]="newItem.item_code" name="itemCode" />

    <label>Price:</label>
    <input [(ngModel)]="newItem.price" name="price" />

    <button
      class="rounded-md bg-blue-300 w-1/2 mx-4 h-6 text-blue-900 hover:bg-blue-900 hover:text-white"
      type="button"
      (click)="addItem()"
    >
      Add
    </button>
  </div>
</form>

<!-- Employee List -->

<div
  class="h-[30px] w-[95%] ml-8 flex justify-between px-5 pr-5 my-[5px] rounded-sm items-center bg-blue-900 text-white"
>
  <div class="employee-cards">Item Name</div>
  <div class="employee-cards">Item Code</div>
  <div class="employee-cards">Price</div>
  <div class="employee-cards">Action</div>
</div>

@for(item of Item ; track item.id){

<div
  class="ml-8 w-[95%] h-[35px] bg-blue-50 my-[5px] text-blue-950 border-blue-100 border-[1px] flex justify-between pl-5 pr-5 rounded-sm items-center"
>
  <div class="employee-cards">
    <p>{{ item.name }}</p>
  </div>
  <div class="employee-cards">
    <p class="bg-green-200 shadow-sm px-5 text-green-900 rounded-lg">
      {{ item.item_code}}
    </p>
  </div>
 
  <div class="employee-cards">
    <p>{{ item.price }}</p>
  </div>

  <div class="employee-cards flex gap-2">
    <button>
      <p><mat-icon (click)="removeItem(item.id)">delete</mat-icon></p>
    </button>
    <button>
      <p><mat-icon (click)="updateItem(item.id)">edit</mat-icon></p>
    </button>
  </div>
</div>

}
