

<div class="flex w-[90%] flex-col h-full">
  <div class="ml-8 flex w-full gap-6 px-6 my-4">
    <div class="showcards">
      <p>
        Total <br />
        Employees- <span>{{totalEmployee}}</span>
      </p>
    </div>
    <div class="showcards">
      <p>
        Available <br />
        Employees- <span>{{totalEmployee}}</span>
      </p>
    </div>
    <div class="showcards">
      <p>
        Attendance <br>
        Today- <span>{{0}}</span>
      </p>
    </div>
    <div (click)="addEmployee()" class="showcards flex justify-center items-start bg-green-100 text text-green-700 border-l-[0px] border-b-[6px] border-green-500 hover:bg-white hover:text-green-700 hover:border-green-300 hover:border-[2px] ">
      <p>
        Add a new<br>Employee 
      </p>
    </div>
    
  </div>
  <div class="flex h-[60px] w-full mt-[1%] pt-1 my-[10px] mx-[50px] border-t-2 border-b-2">
    <img class="w-[50px] h-[50px]" src="formIcon.png" alt="form" />
    <div class="flex flex-col ml-3">
      <p class="text-blue-900 font-medium">Employees List</p>
      <p class="text-gray-500 text-[12px]">
        Details of all employees Listed Below
        
      </p>
    </div>
  </div>
  <div
    class="flex flex-col h-[95%] w-full rounded-md shadow-lg border-gray-300 border-2 bg-gray-100 my-[10px] mx-[50px]">
    <table class="w-full border-collapse border border-gray-600">
      <thead class="bg-blue-950">
        <tr class="text-white">
          <th class="p-2 w-[110px] border">Employee ID</th>
          <th class="p-2 border">Name</th>
          <th class="p-2 w-[200px] border">Role</th>
          <th class="p-2 w-[300px] border">Department</th>
          <th class="p-2 w-[80px] border">Status</th>
          <th class="p-2 w-[220px] border">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emp of allEmployee" class="  hover:bg-blue-100 hover:text-blue-950">
          <td class="p-2 border">{{ emp.employeeCode }}</td>
          <td class="p-2 border">
            {{ emp.firstName }}{{ " " }}{{ emp.lastName }}
          </td>
          <td class="p-2 border">{{ emp.designation }}</td>
          <td class="p-2 border">{{ emp.department }}</td>
          <td class="m-2 border  flex justify-center items-center bg-green-300 rounded-md  text-green-900">Active</td>
          <td class="p-2 border  text-center space-x-2">
            <button class="text-white bg-blue-900 text-sm px-3 py-1 rounded **flex items-center justify-center**"
              (click)="onView(emp.employeeId!)">
              <span class="flex items-center">
                <mat-icon class="flex justify-center items-center mr-1">person</mat-icon>
                
              </span>
            </button>
            <button class="text-white bg-blue-900 text-sm px-3 py-1 rounded **flex items-center justify-center**"
            (click)="onEdit(emp.employeeId!)">
            <span class="flex items-center">
              <mat-icon class="flex justify-center items-center mr-1">edit</mat-icon>
              
            </span>
          </button>
            <button class="text-white bg-blue-900 text-sm px-3 py-1 rounded **flex items-center justify-center**"
              (click)="onDelete(emp.employeeId!)">
              <span class="flex items-center">
                <mat-icon class="flex justify-center items-center mr-1">delete</mat-icon>
                
              </span>
            </button>
            <button class="text-white bg-blue-900 text-sm px-3 py-1 rounded **flex items-center justify-center**"
              (click)="downloadReport(emp.employeeId!)">
              <span class="flex items-center">
                <mat-icon class="flex justify-center items-center mr-1">download</mat-icon>
                
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>