@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply m-0 p-0 font-Roboto ;

  }
  .showcards{
   @apply rounded-2xl  text-xl gap-4 font-medium  p-4 w-56 h-36 flex flex-col justify-center items-center shadow-md cursor-pointer;
  }
 
  .themecolor{
    @apply text-white bg-red-500;
  }
  .input-style {
    @apply text-sm px-2 bg-gray-100 h-9 w-full rounded-md shadow-sm;
  }

  .img-style {
    @apply inset-0 w-full h-full object-cover object-center scale-110 blur-xl;
  }
  .innerImg-container
  {
   @apply  ml-2 mx-3 rounded-xl h-[97%] w-[90%] flex flex-col font-Roboto justify-end items-start overflow-hidden;
  }
  .input-div{
    @apply  flex flex-col mt-5 w-[70%] items-start ;
  }
  .input-heading {
    @apply text-[13px] mb-1 font-medium items-start;
  }
  .hover-btn {
    @apply  text-[15px] text-white bg-gray-900 hover:bg-gray-200 hover:text-black hover:border-2 hover:border-gray-950 h-9 w-full rounded-md;
  }
  .dashboard-btn{
    @apply  cursor-pointer h-8 w-[90%] text-sm font-medium border-[1px] flex border-gray-300 shadow-md mb-3 text-gray-700 rounded-md gap-2 justify-start items-center hover:bg-green-200 hover:text-green-950;
  }
  .nav-btn{
        @apply  cursor-pointer h-10 w-10 text-sm font-medium border-[1px] flex  border-gray-300 shadow-md  rounded-full gap-2 justify-center items-center hover:bg-green-200 hover:text-green-950;

  }
  .employee-cards{
    @apply  w-1/6 flex font-medium items-center justify-between;
  }
}

