@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  body {
    
    @apply m-0 p-0;

  }
  .input-style {
    @apply text-sm px-2 bg-gray-100 h-9 w-full rounded-md shadow-sm;
  }

  .img-style {
    @apply inset-0 w-full h-full object-cover object-center scale-110 blur-xl;
  }
  .innerImg-container
  {
   @apply ml-2 mx-3 rounded-xl h-[97%] w-[90%] flex flex-col font-playfair justify-end items-start overflow-hidden;
  }
  .input-div{
    @apply  flex flex-col mt-5 w-[70%] items-start ;
  }
}
