@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
   
  } 
  body {
    @apply m-0 p-0 font-Roboto   ;

  }
  .showcards{
   @apply rounded-md  border-l-[6px] border-blue-700 gap-4  text-xl bg-blue-50 text-blue-900  font-bold p-4 w-56 h-28 flex flex-col justify-center items-start shadow-md cursor-pointer;
  }
 
  .themecolor{
    @apply text-white bg-red-500;
  }
  .input-style {
    @apply text-sm px-2 bg-gray-100 h-9 w-full rounded-md shadow-sm;
  }

  .img-style {
    @apply inset-0 w-full h-full object-cover object-center scale-110 blur-xl;
  }

  .form-div label{
    @apply  text-sm font-medium mx-2;
  }
  .form-div input{
    @apply  text-sm px-2 bg-gray-100 h-6 w-full rounded-sm shadow-sm;
  }

  .innerImg-container
  {
   @apply  ml-2 mx-3 rounded-xl h-[97%] w-[90%] flex flex-col font-Roboto justify-end items-start overflow-hidden;
  }
  .input-div{
    @apply  flex flex-col mt-5 w-[70%] items-start ;
  }
  .input-heading {
    @apply text-[13px] mb-1 font-medium items-start;
  }
  .hover-btn {
    @apply  text-[15px] text-white bg-gray-900 hover:bg-gray-200 hover:text-black hover:border-2 hover:border-gray-950 h-9 w-full rounded-md;
  }
  .dashboard-btn{
    @apply  cursor-pointer h-8 w-[90%] text-sm font-normal  flex mb-3 text-white rounded-md gap-2 justify-start items-center hover:bg-white hover:bg-opacity-30 hover:text-white;
  }
  .nav-btn{
        @apply  cursor-pointer h-10 w-10 text-sm font-medium border-[1px] flex  border-gray-300 shadow-md  rounded-full gap-2 justify-center items-center hover:bg-green-200 hover:text-green-950;
  }
  .employee-cards{
    @apply  w-[12.5%] flex font-normal items-center justify-between ;
  }

  .field-select{
    @apply w-1/4 h-[50px] border-[2px] border-blue-900  text-blue-950 rounded-[3px] hover:border-blue-500
  }
  .customerForm{
    @apply flex flex-col
  }
  .inputLabel{
    @apply text-[14px] text-gray-800 font-Roboto ;
  }
  .input{
    @apply h-8 rounded-sm border text-sm px-[5px] text-gray-800 w-[220px] border-gray-300 hover:border-blue-800;
  }
  .customerInputDiv{
   @apply flex flex-col my-[20px] mx-[20px];
  }
}

