<!-- homePage -->
<div class=" h-screen w-screen flex justify-start ">
        <!-- dashboard -->
        <div
                class="flex flex-col justify-start items-center h-screen w-[15%] border-r-[1px] bg-blue-900 text-white border-red-700- ">

                <p class="text-white text-[20px] mt-7  mb-1.5 font-medium">Dashboard</p>

                <hr class="w-[80%] mt-2 text-white mb-5">

                <p class="dashboard-btn"><mat-icon
                                class="ml-6 flex items-center  justify-center  text-[20px] ">home</mat-icon>Home
                </p>

                <p class="dashboard-btn"><mat-icon
                                class="ml-6 flex items-center justify-center  text-[20px] ">people</mat-icon>Employees
                </p>

                <p (click)="logout()" class="dashboard-btn"><mat-icon
                                class="ml-6 flex items-center justify-center  text-[20px] ">logout</mat-icon>Logout
                </p>

        </div>
        <!-- contentArea -->
        <div class="bg-white h-screen w-screen m-2">
                <app-header></app-header>
                <app-employee></app-employee>

        </div>
</div>